
.gameBoard {
	border: 1px solid lime;
	height: 300px;
	width: 300px;
}

.gameBoard div {
	border: 1px solid black;
	height: 98px;
	width: 98px;
	float: left;
}



/*


h1 {
	margin: 20px 8%;
	text-align: center;
}

li {
	list-style-type: none;
}

.done-true {
	text-decoration: line-through;
}
*/