<!DOCTYPE html>
<html x-ng-app>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>AngularJS Basics</title>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div>
		<ul ng-controller="myController">
			<h1>{{catName}}</h1>
			<li ng-repeat="cat in cats">
				<input type="checkbox" ng-model="cat.done">
				<span class="done-{{cat.done}}">{{cat.text}}</span>
			</li>
		</ul>
		<input type="text" ng-model="catName">
	</div>

	<div>
		
	</div>
	
</body>
</html>